<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title>
</head>
<body>
  <% data.forEach((student) => { %>
    <li><strong>GID: </strong><%= student.id %></li>
    <li><strong>College: </strong><%= student.college %></li>
    <li><strong>Department:</strong><%= student.department %></li>
    <li><strong>Email: </strong><%= student.email %></li>
    <li><strong>Name: </strong><%= student.name %></li>
    <li><strong>Phone: </strong><%= student.phone %></li>
    <li><strong>Roll: </strong><%= student.roll %></li>
    <li><strong>Year: </strong><%= student.year %></li>
    <h1>Above Record Deleted Successfully</h1>
  <% }); %>
</body>
</html>